/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
}

.navbar-brand {
  color: rgb(191, 201, 108);
  font-size: 24px;
  font-weight: bold;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin: 0 15px;
}

.navbar-menu a {
  color: rgb(232, 233, 241);
  text-decoration: none;
  font-size: 18px;
}

.navbar-menu a:hover {
  text-decoration: underline;
}
/* Add any additional styles you want for your app here */
.App {
  text-align: center;
}
